<h2>*ngIf</h2>

<div *ngIf="cursos.length > 0">
  Lista de cursos aqui
</div>

<div *ngIf="mostrarCursos">
  Existe cursos para serem listados
</div>
<div *ngIf="!mostrarCursos">
  Não existe cursos para serem listados
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar/Esconder cursos</button>

<br><br>

<h5>Forma melhor de fazer isso</h5>
<p>Com menos custo de perfomance para a renderização</p>

<div [hidden]="!mostrarCursos">
  Existe cursos para serem listados
</div>
<div [hidden]="mostrarCursos">
  Não existe cursos para serem listados
</div>